#container {
  margin: 10px;
}
#note{
  height: 400px;
  font-size: 1.5em;
  background: beige;
  border-radius: 6px;
}
.note {
background: gray;
color: black;
border-radius: 6px;
padding: 5px;
margin-bottom: 10px;
}

button {
  width: 100%;
  background: beige;
  border: 2px solid black;
  border-radius: 6px;
  width: 240px;
  font-size: 18px;

}
button:hover {
  font-weight: bold;
  background: whitesmoke;
}